<section id="errorPage">
    <img src="/images/404-Error.png">
    <div>
        <h2><center>Awww... Don't Worry!</center></h2>
        <h3><center>It's just a 404 Error!</center></h3>
    </div>
</section>