<main>
    <div id="content">
        <h1><b><i>Welcome to our Shop!</i></b></h1>
        <h2><i>Where to buy furniture and decor items for your home</i></h2>
        <p>We offer furniture for individual projects for kitchens, bedrooms, children's rooms, halls.</p>
        <p>Choice of upholstered furniture and of Bulgarian producers and imports furniture from Germany, Spain,
            Malaysia, Germany, Holland, Italy and others.</p>
        <br>
        <h3>Your go-to places for design inspiration</h3>
        <p>Now that we’re spending more time at home than ever, creating an inspiring living space is even more
            important for our well-being. Here’s a list of different shops in Sofia and Bulgaria to help you furnish and decorate
            your home to reflect your style and needs.</p>
        <br>
        <h3>The essentials</h3>
        <p>These are the mainstream places where you can find everything you need. You can shop online as well as
            in-store. IKEA is probably one of the most famous furniture retailers and offers modern and simple designs. IKEA’s
            main branch is in Sofia, and they have online delivery centers in Varna, Burgas, and Plovdiv. Their services
            include delivery, furniture assembly, kitchen sizing, and installation. COMO is a furniture hypermarket located in Sofia. They offer
            furniture delivery and kitchen installation services. Their website is also available in English. Aiko and Domko are Bulgarian
            furniture stores that you can find in most major towns. They offer delivery, assembly, old furniture removal, kitchen measurement, and
            curtain sewing. Their websites have English versions as well. vivre.bg is one of the biggest online furniture stores in Central
            and Eastern Europe. There you can find a huge array of furniture, decorative pieces, kitchen and bathroom equipment, and even clothes
            and cosmetics. JYSK is another affordable Scandinavian-style store. They offer small furniture, decorative pieces, and accessories.
            JYSK has many locations in Sofia and all over Bulgaria.</p>
        <br>
        <h3>Bulgarian traditions</h3>
        <p>If you would like to add a more authentic, local flair to your home, you can incorporate some typical
            Bulgarian elements into your decorations. The traditional Bulgarian home is cozy and inviting, centered around the
            dining table. It includes natural materials like wood, stone and clay, and a big fireplace. To feel that atmosphere for
            yourself in Sofia, you can visit a traditional Bulgarian restaurant. Some classic decor elements include Troyan clay pottery,
            tablecloths with traditional regional embroidery, Rhodope wool blankets, kilim rugs, wooden figurines, copper objects. These
            are best found in souvenir shops when traveling in Bulgaria, and it’s a great way to support local artists. Blaiv and Rodopska
            Takan are traditional textile stores based in Sevlievo and Smolyan, respectively. You can order traditional blankets, bedspreads,
            and tablecloths online.</p>
    </div>
</main>