<main>
    <div id="content">
        <div class="notice-container">
            <h1><b><i>Create Category</i></b></h1>
            <div class="notice error">
                <p>{{error}}</p>
            </div>
        </div>
        <form method="post" action="">
            <div class="form_settings">
                <p>
                    <span>Category*</span><input class="contact" type="text" name="category" value="{{category}}" />
                </p>
                <p>
                    <span>Image*</span><input class="contact" type="text" name="imageCategory" value="{{imageCategory}}" />
                </p>
                <p style="padding-top: 15px">
                    <span>&nbsp;</span><input class="submit" type="submit" name="createCategory" value="Create" />
                </p>
                <p>* - required field</p>
            </div>
        </form>
    </div>
    <script>
        const errorElement = document.querySelector('.notice.error');
console.log('script -> ', error);
        function showNotice() {
            errorElement.removeAttribute('hidden');}

        function hideNotice() {
            errorElement.setAttribute('hidden', 'true');}

        hideNotice();

        if (error !== '') {
            showNotice();
            setTimeout(hideNotice, 5000);
        }
    </script>
</main>