  .btn.close {
    background-color: rgb(70, 70, 70);;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
  }

  .btn.close:hover {
    background-color: rgb(120, 120, 120);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  
  .backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  
  .modal {
    width: 25rem;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 17vh;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
  }

/* User details styles  */
.detail-container {
    width: 100%;
    max-height: 17vh;
  }
  
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
  }
  
  .headers span {
    margin-bottom: 0px;
    font-size: 18px;
    margin-right: 185px;
    color: #c9cb45;
  }

  .headers img {
    width: 40px;
    height: auto;
  }
  
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
  }

  #errorPage h4 {
    font-size: 1.45em;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 17px;
  }